<center><h1 style='font-family:Franklin Gothic; color:#343c63'>ONYX Data</h1>
    
<h1 style='font-family:Franklin Gothic; color:#fdc93f'>Hotel Bookings Challenge</h1></center>

<p style='font-family:Script MT; color:crimson;text-align: right'>by AChann Aung</p>
<img src='https://img.freepik.com/premium-photo/online-hotel-accommodation-booking-website-provide-modish-reservation-system_31965-110790.jpg?size=626&ext=jpg' width=1400>

***Import Library***

In [1]:
import pandas as pd

***Read Dataset***

In [2]:
hotel = pd.read_csv('DNA.csv')
hotel.head(3)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,7/1/2015
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,7/1/2015
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,NaN,NaN,0,Transient,75.0,0,0,Check-Out,7/2/2015

***Total rows & cols***

In [3]:
hotel.shape

(119390, 32)

***Data types***

In [4]:
hotel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 32 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  int64
 2   lead_time                       119390 non-null  int64
 3   arrival_date_year               119390 non-null  int64
 4   arrival_date_month              119390 non-null  object
 5   arrival_date_week_number        119390 non-null  int64
 6   arrival_date_day_of_month       119390 non-null  int64
 7   stays_in_weekend_nights         119390 non-null  int64
 8   stays_in_week_nights            119390 non-null  int64
 9   adults                          119390 non-null  int64
 10  children                        119386 non-null  float64
 11  babies                          119390 non-null  int64
 12  meal                            119390 non-null  object
 13  country                         118902 non-null  object
 14  market_segment                  119390 non-null  object
 15  distribution_channel            119390 non-null  object
 16  is_repeated_guest               119390 non-null  int64
 17  previous_cancellations          119390 non-null  int64
 18  previous_bookings_not_canceled  119390 non-null  int64
 19  reserved_room_type              119390 non-null  object
 20  assigned_room_type              119390 non-null  object
 21  booking_changes                 119390 non-null  int64
 22  deposit_type                    119390 non-null  object
 23  agent                           103050 non-null  float64
 24  company                         6797 non-null    float64
 25  days_in_waiting_list            119390 non-null  int64
 26  customer_type                   119390 non-null  object
 27  adr                             119390 non-null  float64
 28  required_car_parking_spaces     119390 non-null  int64
 29  total_of_special_requests       119390 non-null  int64
 30  reservation_status              119390 non-null  object
 31  reservation_status_date         119390 non-null  object
dtypes: float64(4), int64(16), object(12)
memory usage: 29.1+ MB

***`null` value***

In [5]:
hotel.isnull().sum()

hotel                                  0
is_canceled                            0
lead_time                              0
arrival_date_year                      0
arrival_date_month                     0
arrival_date_week_number               0
arrival_date_day_of_month              0
stays_in_weekend_nights                0
stays_in_week_nights                   0
adults                                 0
children                               4
babies                                 0
meal                                   0
country                              488
market_segment                         0
distribution_channel                   0
is_repeated_guest                      0
previous_cancellations                 0
previous_bookings_not_canceled         0
reserved_room_type                     0
assigned_room_type                     0
booking_changes                        0
deposit_type                           0
agent                              16340
company                           112593
days_in_waiting_list                   0
customer_type                          0
adr                                    0
required_car_parking_spaces            0
total_of_special_requests              0
reservation_status                     0
reservation_status_date                0
dtype: int64

In [6]:
round(100*(hotel.isnull().sum() / len(hotel.index)),2)

hotel                              0.00
is_canceled                        0.00
lead_time                          0.00
arrival_date_year                  0.00
arrival_date_month                 0.00
arrival_date_week_number           0.00
arrival_date_day_of_month          0.00
stays_in_weekend_nights            0.00
stays_in_week_nights               0.00
adults                             0.00
children                           0.00
babies                             0.00
meal                               0.00
country                            0.41
market_segment                     0.00
distribution_channel               0.00
is_repeated_guest                  0.00
previous_cancellations             0.00
previous_bookings_not_canceled     0.00
reserved_room_type                 0.00
assigned_room_type                 0.00
booking_changes                    0.00
deposit_type                       0.00
agent                             13.69
company                           94.31
days_in_waiting_list               0.00
customer_type                      0.00
adr                                0.00
required_car_parking_spaces        0.00
total_of_special_requests          0.00
reservation_status                 0.00
reservation_status_date            0.00
dtype: float64

<h2 style='font-famaily:Verdana; color:Crimson'>Data Wrangling</h2>

***drop unnessary cols & rows***

In [7]:
hotel.drop(['agent', 'company'], axis=1, inplace=True)

In [8]:
#drop null rows
hotel.dropna(axis=0, inplace=True)

***cleaned, rows & cols***

In [9]:
hotel.shape

(118898, 30)

***Converting dtype***

In [10]:
# change dtype "float" to "int"
hotel['children'] = hotel['children'].astype(int)

In [11]:
#create Kids column
hotel['kids'] = hotel['children'] + hotel['babies']
print("Total Kids:",hotel['kids'].sum())

Total Kids: 13335

***Create total guests col***

In [12]:
#create "total_guest" column
hotel['total_guest'] = hotel['kids'] + hotel['adults']
print("Total guests:", hotel['total_guest'].sum())

Total guests: 234294

In [13]:
hotel.head(3)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,kids,total_guest
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,0,Transient,0.0,0,0,Check-Out,7/1/2015,0,2
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,0,Transient,0.0,0,0,Check-Out,7/1/2015,0,2
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,0,Transient,75.0,0,0,Check-Out,7/2/2015,0,1

***Combine 3 cols (DD/MM/YYYY)***

In [14]:
# Change dtypes for concat
hotel['arrival_date_year'] = hotel['arrival_date_year'].astype(str)
hotel['arrival_date_month'] = hotel['arrival_date_month'].astype(str)
hotel['arrival_date_day_of_month'] = hotel['arrival_date_day_of_month'].astype(str)

In [15]:
hotel['arrival_date'] = hotel['arrival_date_day_of_month']+'-'+ hotel['arrival_date_month']+'-'+hotel['arrival_date_year']
hotel['arrival_date']

0            1-July-2015
1            1-July-2015
2            1-July-2015
3            1-July-2015
4            1-July-2015
               ...
119385    30-August-2017
119386    31-August-2017
119387    31-August-2017
119388    31-August-2017
119389    29-August-2017
Name: arrival_date, Length: 118898, dtype: object

In [16]:
#check dtypes
hotel.info()

<class 'pandas.core.frame.DataFrame'>
Index: 118898 entries, 0 to 119389
Data columns (total 33 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           118898 non-null  object
 1   is_canceled                     118898 non-null  int64
 2   lead_time                       118898 non-null  int64
 3   arrival_date_year               118898 non-null  object
 4   arrival_date_month              118898 non-null  object
 5   arrival_date_week_number        118898 non-null  int64
 6   arrival_date_day_of_month       118898 non-null  object
 7   stays_in_weekend_nights         118898 non-null  int64
 8   stays_in_week_nights            118898 non-null  int64
 9   adults                          118898 non-null  int64
 10  children                        118898 non-null  int32
 11  babies                          118898 non-null  int64
 12  meal                            118898 non-null  object
 13  country                         118898 non-null  object
 14  market_segment                  118898 non-null  object
 15  distribution_channel            118898 non-null  object
 16  is_repeated_guest               118898 non-null  int64
 17  previous_cancellations          118898 non-null  int64
 18  previous_bookings_not_canceled  118898 non-null  int64
 19  reserved_room_type              118898 non-null  object
 20  assigned_room_type              118898 non-null  object
 21  booking_changes                 118898 non-null  int64
 22  deposit_type                    118898 non-null  object
 23  days_in_waiting_list            118898 non-null  int64
 24  customer_type                   118898 non-null  object
 25  adr                             118898 non-null  float64
 26  required_car_parking_spaces     118898 non-null  int64
 27  total_of_special_requests       118898 non-null  int64
 28  reservation_status              118898 non-null  object
 29  reservation_status_date         118898 non-null  object
 30  kids                            118898 non-null  int64
 31  total_guest                     118898 non-null  int64
 32  arrival_date                    118898 non-null  object
dtypes: float64(1), int32(1), int64(16), object(15)
memory usage: 30.4+ MB

In [17]:
hotel['arrival_date'] = hotel['arrival_date'].astype('datetime64[ns]')

In [18]:
hotel.info()

<class 'pandas.core.frame.DataFrame'>
Index: 118898 entries, 0 to 119389
Data columns (total 33 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           118898 non-null  object
 1   is_canceled                     118898 non-null  int64
 2   lead_time                       118898 non-null  int64
 3   arrival_date_year               118898 non-null  object
 4   arrival_date_month              118898 non-null  object
 5   arrival_date_week_number        118898 non-null  int64
 6   arrival_date_day_of_month       118898 non-null  object
 7   stays_in_weekend_nights         118898 non-null  int64
 8   stays_in_week_nights            118898 non-null  int64
 9   adults                          118898 non-null  int64
 10  children                        118898 non-null  int32
 11  babies                          118898 non-null  int64
 12  meal                            118898 non-null  object
 13  country                         118898 non-null  object
 14  market_segment                  118898 non-null  object
 15  distribution_channel            118898 non-null  object
 16  is_repeated_guest               118898 non-null  int64
 17  previous_cancellations          118898 non-null  int64
 18  previous_bookings_not_canceled  118898 non-null  int64
 19  reserved_room_type              118898 non-null  object
 20  assigned_room_type              118898 non-null  object
 21  booking_changes                 118898 non-null  int64
 22  deposit_type                    118898 non-null  object
 23  days_in_waiting_list            118898 non-null  int64
 24  customer_type                   118898 non-null  object
 25  adr                             118898 non-null  float64
 26  required_car_parking_spaces     118898 non-null  int64
 27  total_of_special_requests       118898 non-null  int64
 28  reservation_status              118898 non-null  object
 29  reservation_status_date         118898 non-null  object
 30  kids                            118898 non-null  int64
 31  total_guest                     118898 non-null  int64
 32  arrival_date                    118898 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int32(1), int64(16), object(14)
memory usage: 30.4+ MB

In [19]:
import datetime as dt

***Create `Booking Confirmed`dataframe***

In [20]:
#Confirmed booking dataframe
con_book = hotel[hotel['is_canceled'] == 0]
con_book.shape

(74745, 33)

In [21]:
#create "arrival_month" column in "confirmed_booking" df
con_book['arrival_month'] = hotel['arrival_date'].dt.month

C:\Users\Exera\AppData\Local\Temp\ipykernel_12704\3443311040.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  con_book['arrival_month'] = hotel['arrival_date'].dt.month

In [22]:
con_book.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,kids,total_guest,arrival_date,arrival_month
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,Transient,0.0,0,0,Check-Out,7/1/2015,0,2,2015-07-01,7
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,Transient,0.0,0,0,Check-Out,7/1/2015,0,2,2015-07-01,7
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,Transient,75.0,0,0,Check-Out,7/2/2015,0,1,2015-07-01,7
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,Transient,75.0,0,0,Check-Out,7/2/2015,0,1,2015-07-01,7
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,Transient,98.0,0,1,Check-Out,7/3/2015,0,2,2015-07-01,7

***Rename cols***

In [23]:
con_book.columns

Index(['hotel', 'is_canceled', 'lead_time', 'arrival_date_year',
       'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'adults', 'children', 'babies', 'meal',
       'country', 'market_segment', 'distribution_channel',
       'is_repeated_guest', 'previous_cancellations',
       'previous_bookings_not_canceled', 'reserved_room_type',
       'assigned_room_type', 'booking_changes', 'deposit_type',
       'days_in_waiting_list', 'customer_type', 'adr',
       'required_car_parking_spaces', 'total_of_special_requests',
       'reservation_status', 'reservation_status_date', 'kids', 'total_guest',
       'arrival_date', 'arrival_month'],
      dtype='object')

In [24]:
con_book.columns = ['Hotel', 'Canceled', 'LeadTime', 'Arr_Year', 'Arr_Month', 'Arr_Week','Arr_Day', 'Weekend_Stay',
              'Week_Stay', 'Adults', 'Children', 'Babies', 'Meal','Country', 'Market_Segment', 'Distribution_Channel','Repeated_Guest', 'Prev_Cancel',
              'Prev_Book', 'Book_RoomType','Assign_RoomType', 'Change_Booking', 'Deposit_Type', 'Waiting_Days', 
              'Customer_Type', 'Avg_Daily_Rate','Parking_Space', 'Special_Request','Reservation_Status', 'Reservation_Date', 'Kids', 'Total_Guest', 'Arrival_Date', 'Arrival_Month']

In [25]:
con_book.head()

,Hotel,Canceled,LeadTime,Arr_Year,Arr_Month,Arr_Week,Arr_Day,Weekend_Stay,Week_Stay,Adults,...,Customer_Type,Avg_Daily_Rate,Parking_Space,Special_Request,Reservation_Status,Reservation_Date,Kids,Total_Guest,Arrival_Date,Arrival_Month
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,Transient,0.0,0,0,Check-Out,7/1/2015,0,2,2015-07-01,7
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,Transient,0.0,0,0,Check-Out,7/1/2015,0,2,2015-07-01,7
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,Transient,75.0,0,0,Check-Out,7/2/2015,0,1,2015-07-01,7
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,Transient,75.0,0,0,Check-Out,7/2/2015,0,1,2015-07-01,7
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,Transient,98.0,0,1,Check-Out,7/3/2015,0,2,2015-07-01,7

In [26]:
#con_book.to_csv('booking_confirmed.csv')

***Booking confirmed by 'Arrival_Month'***

In [27]:
total_arr_month = con_book['Arrival_Month'].value_counts().sort_index()
tam = total_arr_month.to_frame().reset_index()
tam

    Arrival_Month  count
0               1   4068
1               2   5317
2               3   6591
3               4   6533
4               5   7102
5               6   6393
6               7   7892
7               8   8618
8               9   6367
9              10   6867
10             11   4632
11             12   4365

In [28]:
#tam.to_csv('total_arr_month.csv')

<h2 style='font-family:Verdana; color:crimson'>Exploratory Data Analysis</h2>

***Rename cols in dataset***

In [29]:
hotel.columns

Index(['hotel', 'is_canceled', 'lead_time', 'arrival_date_year',
       'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'adults', 'children', 'babies', 'meal',
       'country', 'market_segment', 'distribution_channel',
       'is_repeated_guest', 'previous_cancellations',
       'previous_bookings_not_canceled', 'reserved_room_type',
       'assigned_room_type', 'booking_changes', 'deposit_type',
       'days_in_waiting_list', 'customer_type', 'adr',
       'required_car_parking_spaces', 'total_of_special_requests',
       'reservation_status', 'reservation_status_date', 'kids', 'total_guest',
       'arrival_date'],
      dtype='object')

In [30]:
hotel.columns = ['Hotel', 'Canceled', 'LeadTime', 'Arr_Year', 'Arr_Month', 'Arr_Week','Arr_Day', 'Weekend_Stay',
              'Week_Stay', 'Adults', 'Children', 'Babies', 'Meal','Country', 'Market_Segment', 'Distribution_Channel','Repeated_Guest', 'Prev_Cancel',
              'Prev_Book', 'Book_RoomType','Assign_RoomType', 'Change_Booking', 'Deposit_Type', 'Waiting_Days', 
              'Customer_Type', 'Avg_Daily_Rate','Parking_Space', 'Special_Request','Reservation_Status', 'Reservation_Date', 'Kids', 'Total_Guest', 'Arrival_Date']

In [31]:
hotel.head(2)

,Hotel,Canceled,LeadTime,Arr_Year,Arr_Month,Arr_Week,Arr_Day,Weekend_Stay,Week_Stay,Adults,...,Waiting_Days,Customer_Type,Avg_Daily_Rate,Parking_Space,Special_Request,Reservation_Status,Reservation_Date,Kids,Total_Guest,Arrival_Date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,0,Transient,0.0,0,0,Check-Out,7/1/2015,0,2,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,0,Transient,0.0,0,0,Check-Out,7/1/2015,0,2,2015-07-01

***Number of Canceled***

In [32]:
cancel = hotel['Canceled'].value_counts().to_frame().reset_index()
cancel.loc[1]

Canceled        1
count       44153
Name: 1, dtype: int64

In [33]:
#cancel.to_csv('total_cancel.csv')

***Booked by Top 10 Countries***

In [34]:
country = hotel['Country'].value_counts().to_frame().reset_index()
country.head(10)

  Country  count
0     PRT  48586
1     GBR  12129
2     FRA  10415
3     ESP   8568
4     DEU   7287
5     ITA   3766
6     IRL   3375
7     BEL   2342
8     BRA   2224
9     NLD   2104

In [35]:
#country.to_csv('booked_by_country.csv')

***Booked by Month***

In [36]:
month = hotel['Arr_Month'].value_counts().to_frame().reset_index()
month

    Arr_Month  count
0      August  13852
1        July  12628
2         May  11779
3     October  11095
4       April  11045
5        June  10927
6   September  10467
7       March   9739
8    February   8012
9    November   6752
10   December   6728
11    January   5874

In [37]:
#month.to_excel('booked_by_month.xlsx')

***Market Segment***

In [38]:
m_seg = hotel['Market_Segment'].value_counts().to_frame().reset_index()
m_seg

  Market_Segment  count
0      Online TA  56402
1  Offline TA/TO  24160
2         Groups  19806
3         Direct  12448
4      Corporate   5111
5  Complementary    734
6       Aviation    237

In [39]:
#m_seg.to_csv('booked_by_m_seg.csv')

***Booked by year***

In [40]:
year = hotel['Arr_Year'].value_counts().to_frame().reset_index()
year

  Arr_Year  count
0     2016  56435
1     2017  40604
2     2015  21859

In [41]:
#year.to_csv('booked_by_year.csv')

***Meal_Reserved***

In [42]:
meal = hotel['Meal'].value_counts().to_frame().reset_index()
meal

        Meal  count
0         BB  91863
1         HB  14434
2         SC  10638
3  Undefined   1165
4         FB    798

In [43]:
#meal.to_excel('meal_reserve.xlsx')

***Booked_by_Customer_Type***

In [44]:
cus_type = hotel['Customer_Type'].value_counts().to_frame().reset_index()
cus_type

     Customer_Type  count
0        Transient  89174
1  Transient-Party  25078
2         Contract   4076
3            Group    570

In [45]:
#cus_type.to_csv('booked_cus_type.csv')

***Bookedy By Reservation Status***

In [46]:
res_status = hotel['Reservation_Status'].value_counts().to_frame().reset_index()
res_status

  Reservation_Status  count
0          Check-Out  74745
1           Canceled  42950
2            No-Show   1203

In [47]:
#res_status.to_csv('booked_by_reservation_status.csv')

<i><h3 style='font-family:Helvitica; color:Crimson'>Create Actual Guests dataframe</h3>

In [48]:
actual_guests = hotel[hotel['Canceled'] == 0]
actual_guests.shape

(74745, 33)

In [49]:
actual_guests.head()

,Hotel,Canceled,LeadTime,Arr_Year,Arr_Month,Arr_Week,Arr_Day,Weekend_Stay,Week_Stay,Adults,...,Waiting_Days,Customer_Type,Avg_Daily_Rate,Parking_Space,Special_Request,Reservation_Status,Reservation_Date,Kids,Total_Guest,Arrival_Date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,0,Transient,0.0,0,0,Check-Out,7/1/2015,0,2,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,0,Transient,0.0,0,0,Check-Out,7/1/2015,0,2,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,0,Transient,75.0,0,0,Check-Out,7/2/2015,0,1,2015-07-01
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,0,Transient,75.0,0,0,Check-Out,7/2/2015,0,1,2015-07-01
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,0,Transient,98.0,0,1,Check-Out,7/3/2015,0,2,2015-07-01

***Actual Stay at Weekday & Weekend night***

In [50]:
actual_stay = actual_guests['Weekend_Stay'] + actual_guests['Week_Stay']
actual_stay.shape[0]

74745

***Create `Price` column Avg daily rate by actual stay***

In [51]:
actual_guests['Price'] = actual_guests['Avg_Daily_Rate']* actual_stay

C:\Users\Exera\AppData\Local\Temp\ipykernel_12704\902504704.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  actual_guests['Price'] = actual_guests['Avg_Daily_Rate']* actual_stay

In [52]:
actual_guests.tail()

,Hotel,Canceled,LeadTime,Arr_Year,Arr_Month,Arr_Week,Arr_Day,Weekend_Stay,Week_Stay,Adults,...,Customer_Type,Avg_Daily_Rate,Parking_Space,Special_Request,Reservation_Status,Reservation_Date,Kids,Total_Guest,Arrival_Date,Price
119385,City Hotel,0,23,2017,August,35,30,2,5,2,...,Transient,96.14,0,0,Check-Out,9/6/2017,0,2,2017-08-30,672.98
119386,City Hotel,0,102,2017,August,35,31,2,5,3,...,Transient,225.43,0,2,Check-Out,9/7/2017,0,3,2017-08-31,1578.01
119387,City Hotel,0,34,2017,August,35,31,2,5,2,...,Transient,157.71,0,4,Check-Out,9/7/2017,0,2,2017-08-31,1103.97
119388,City Hotel,0,109,2017,August,35,31,2,5,2,...,Transient,104.40,0,0,Check-Out,9/7/2017,0,2,2017-08-31,730.80
119389,City Hotel,0,205,2017,August,35,29,2,7,2,...,Transient,151.20,0,2,Check-Out,9/7/2017,0,2,2017-08-29,1360.80

***Revenue by guests***

In [56]:
actual_guests['Price'].sum()

25908964.82

In [77]:
a_rev = actual_guests['Avg_Daily_Rate'] * (actual_guests['Weekend_Stay'] + actual_guests['Week_Stay'])
a_rev = a_rev.to_frame().reset_index()
a_rev.columns = ['index', 'Price']
a_rev.drop(columns=('index'), axis=1,inplace=True)

In [81]:
#a_rev.to_csv('rev_by_act_guest.csv')

***Revenue by booking***

In [85]:
rev_book = hotel['Avg_Daily_Rate'] * (hotel['Week_Stay'] + hotel['Weekend_Stay'])
rev_book = rev_book.to_frame().reset_index()
rev_book.columns = ['index', 'Price_by_book']
rev_book.drop(columns= ('index'), axis=1, inplace=True)

In [87]:
rev_book.to_csv('rev_by_book.csv')